<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Inicio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <p>Si sale</p>
     {% block content  %}
        <ul>
        {% for category in categories %}
        <li>{{category.id}} /{{category.name}} </li>
        {% endfor %}
        </ul>
    {% endblock content  %}
    <p>{{name}}</P>
        <script src="" async defer></script>
    </body>
</html>